@(activityFormObject: Form[asapp.models.types.Activity], categories: List[asapp.models.types.ActivityCategory], imageList: List[asapp.models.types.ActivityImage], dateList: List[String])
@import helper._
@getFormValue(fieldName: String) = {@if(activityFormObject(fieldName) != null) {@activityFormObject(fieldName).value}}
   <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span>Sleep de afbeeldingen hierheen om ze te uploaden</span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Selecteer</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
				 <span>of sleep de afbeeldingen hierheen</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
					<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Annuleer</a>
                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">Opnieuw</a>
                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">Verwijder</a>
                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>
<script src="@routes.Assets.at("javascripts/fineuploader-4.0.1.js")"></script>
<script>
	function createUploader() 
	{
		var uploader = new qq.FineUploader({
			element : document.getElementById('fine-uploader'),
			request : 
			{
				endpoint : '@asapp.supplierportal.controllers.routes.RegisterActivity.uploadImage'
			},
		 	deleteFile: {
             	enabled: true,
             	forceConfirm: true,
            	method: 'POST',
             	endpoint: '@asapp.supplierportal.controllers.routes.RegisterActivity.deleteImage'
         	},
			failedUploadTextDisplay: {
		        mode: 'custom',
		        maxChars: 50,
		        responseProperty: 'error',
		        enableTooltip: true
		    }
			
		});
	}

	window.onload = createUploader;
</script>
<script>
numTimeRows = 0;
	function addRow()
	{
		var table = document.getElementById("activiteiten");
		var rowNum = 8;
		var rowCount = table.rows.length;
		var row = table.insertRow(rowCount-rowNum);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var identifier = 'datetime' + ++numTimeRows;
		cell2.innerHTML = '<td colspan="3"><input class="input_box" type="datetime-local" name="' + 
			identifier + '" id="' + identifier + '"required></td>' + ' <input class="dark_button" type="button" onclick="removeRow(this)" value="Verwijder" size="12">';
	}
	
	function removeRow(source)
	{
		var table=document.getElementById("activiteiten");
		var row = source.parentElement.parentElement; 
		table.deleteRow(row.rowIndex); 				
	}		
	
	function restrictInput(myfield, e) 
	{
	    if (!e) var e = window.event
	    if (e.keyCode) code = e.keyCode;
	    else if (e.which) code = e.which;
	    var character = String.fromCharCode(code);

	    // if user pressed esc... remove focus from field...
	    if (code == 27) { this.blur(); return false; }

	    // ignore if the user presses other keys
	    if (!e.ctrlKey && code != 9 && code != 8 && code != 36 && code != 37 && code != 38 && (code != 39 || (code == 39 && character == "'")) && code != 40) {
	        if (character.match(/[1234567890]/g)) {

	            return !isNaN(myfield.value.toString() + character);

	        }
	        else {
	            return false;
	        }
	    }
	}
	
	function confirmDelete(activityImageId)
	{
		if (confirm("Weet je het zeker dat je deze afbeelding wil verwijderen?")){
			location.href='/aanbieder/muteeractiviteit/verwijderafbeelding/' + activityImageId;
			}

	}
</script>
<h2>Registreer uw activiteit</h2>
@form(asapp.supplierportal.controllers.routes.RegisterActivity.doRegister) {
	<table id="activiteiten">
		<tr>
			<td>Categorie</td>
			<td colspan="3">
				<select class="input_box" name="activity_category">
					@for(category <- categories) {
						<option value="@category.getCategory()" 
							@if(activityFormObject("activity_category") != null && activityFormObject("activity_category").value != null && activityFormObject("activity_category").value.equals(category.getCategory())) { selected }> 
						@category.getCategory : @category.getDescription()</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<td>Naam</td>
			<td colspan="3">
				<input class="input_box"  type="text" name="name" maxlength="20" value="@getFormValue("name")" size="20"required>
			</td>
		</tr>
		<tr>
			<td>Omschrijving</td>
			<td><textarea class="input_box" name="description" rows="5" cols="80"  maxlength="200" value="@getFormValue("description")"></textarea>
			</td>
		</tr>
		<tr>
			<td>Basistarief per deelnemer</td>
			<td colspan="3">
				€       <input class="input_box" type="number" name="baseTariffParticipant" maxlength="5" min="0" value="@getFormValue("baseTariffParticipant")" size="6" onkeypress="return restrictInput(this, event);" required>
			</td>
		</tr>
		<tr>
			<td>Aantal deelnemers </td>
			<td colspan="3">
				Minimaal: 	<input class="input_box" type="number" name="minParticipant" maxlength="5" min="1" value="@getFormValue("minParticipant")" size="6" onkeypress="return restrictInput(this, event);" required>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td colspan="3">
				Maximaal:	<input class="input_box"  type="number" name="maxParticipant" maxlength="5" min="1" value="@getFormValue("maxParticipant")" size="6" onkeypress="return restrictInput(this, event);" required>
			</td>
		</tr>
		<tr>
				<td>Datum activiteit</td>
				<td colspan="3"><input class="input_box" type="datetime-local" name="datetime" id="datetime"></td>
		</tr>
				@for(date <- dateList) { 
				<tr>
				<td></td>
				<td colspan="3"><input class="input_box" type="datetime-local" name=@date value=@date id=@date required>
				<input class="dark_button" type="button" onclick="removeRow(this)" value="Verwijder" size="12"></td>
				</tr>
				}				
		<tr>
			<td colspan="3" ><input class="dark_button" id="add" type="button" onclick="addRow()" value="Voeg tijd toe" size="12"></td>				
		</tr>
		<tr>
			<td colspan="2">
				<h3>Locatie-specifieke gegevens</h3>
			</td>
		</tr>
		<tr>
			<td>Straat</td>
			<td colspan="3">
				<input class="input_box"  type="text" name="street" maxlength="50" value="@getFormValue("street")" required>
			</td>
		</tr>
		<tr>
			<td>Huisnummer</td>
			<td colspan="3">
				<input  class="input_box"  type="number" name="houseNumber" min="1" value="@getFormValue("houseNumber")" onkeypress="return restrictInput(this, event);" required>
			</td>
		</tr>
		<tr>
			<td>Huisnummer toevoeging</td>
			<td colspan="3">
				<input class="input_box"  type="text" name="houseNumberSuffix" maxlength="15" value="@getFormValue("houseNumberSuffix")">
			</td>
		</tr>
		<tr>
		<td>Postcode</td>
				<td colspan="3">
				<input class="input_box" type="text" name="zipcode" maxlength="6" value="@getFormValue("zipcode")" pattern="[0-9]{4}[A-Za-z]{2}" size="6" required>
				</td>
		</tr>
		<tr>
			<td>Plaatsnaam</td>
			<td colspan="3">
				<input class="input_box" type="text" name="city"  maxlength="60" value="@getFormValue("city")" required>
			</td>
		</tr>
		</table>
		<tr>
				<h3>Voeg afbeeldingen toe</h3>
		</tr>
		<tr>
				<p>
					<div id="fine-uploader"></div>
		
				</p>
		</tr>
		<table>
		<tr>
		@for(activityImage <- imageList) { 
				@if(activityImage.getHash() != null){
				<td>
					<div class="activity_mutate">				
						<img id="activity_img" alt="Activity img" src="@asapp.frontend.controllers.routes.Activities.image(activityImage.getActivityImageId)">
					</div>
				</td>
				}
			}
	
		</tr>
		<tr>
		@for(activityImage <- imageList) { 
				@if(activityImage.getHash() != null){
				<td>
					<div>				
						<input class="red_button" type="button" onclick="confirmDelete(@activityImage.getActivityImageId())" value="Verwijder afbeelding" />
					</div>
				</td>
				}
			}
	
		</tr>
		<tr>
			<td>
				<input class="red_button" type="submit" value="Registreer">
			</td>
		</tr>
		</table>
}
