@main("Hoofdpagina", "index") {
	<article class="article_content">
		<h1>Welkom bij de Activity Surprise Aanbiedersportal</h1>
		<p>Via dit portaal kunt u als aanbieder nieuwe activiteiten toevoegen, wijzigen en verwijderen. 
		</p>
		
		<h2>Business reports</h2>
		<p>Als aanbieder wilt u natuurlijk uw statistieken inzien.
		Ook dit is mogelijk via dit portaal!
		</p>	 	
	</article>
	<hr>
		@if(session.get("email")!=null) {
			@if(session.get("role") == "supplier") {
				<article>
					<h2>Maak uw keuze</h2>
						<p>
							Momenteel bent u al aangemeld als aanbieder. Selecteer links uw keuze.
						</p>
				</article>
			}else {
				<article>
					<h2>Graag afmelden!</h2>
						<p>
							Momenteel bent u niet aangemeld als aanbieder. Om in te loggen als aanbieder moet u eerst <a href="/logout"><b>afmelden</b>.</a>
						</p>
				</article>
			}
		}else {
			<h2>U bent nog niet ingelogd</h2>
			<p>
				Graag <a href="aanbieder/login"><b>hier</b></a> aanmelden met uw aanbieder inlog gegevens! Nog geen aanbieders account dan kunt u <a href="aanbieder/registreer"><b>hier</b></a>
				gratis registreren.
			</p>	
		}
}