@(loginForm: Form[asapp.supplierportal.controllers.Login.Logins])
@import helper._
@main("Login", "login") {
	@if(session.get("email")!=null) {
		@if(session.get("role") == "supplier") {
			<article>
				<h2>U bent al aangemeld</h2>
					<p>
						Momenteel bent u al aangemeld als aanbieder. Om in te loggen als een andere aanbieder moet u eerst <a href="/logout"><b>afmelden</b>.</a>
					</p>
			</article>
		}else {
			<article>
				<h2>Graag afmelden!</h2>
					<p>
						Momenteel bent u niet aangemeld als aanbieder. Om in te loggen als aanbieder moet u eerst <a href="/logout"><b>afmelden</b>.</a>
					</p>
			</article>
		}
	}else {
		@form(asapp.supplierportal.controllers.routes.Login.authenticate) {
			<h2>Login</h2>
			<p>
				Graag aanmelden met uw aanbieder inlog gegevens! Nog geen aanbieders account dan kunt u <a href="/registreer"><b>hier</b></a>
				gratis registreren.
			</p>	
			<hr>	
	
			<p>
				<input class="input_box" type="email" name="email" placeholder="Email" value="@loginForm("email").value">
			</p>
			<p>
				<input class="input_box" type="password" name="password" placeholder="Password">
			</p>
			<p>
				<button class="red_button" type="submit">Login</button>
			</p>
		}
	}	
}