@(activityList: List[asapp.models.types.Activity])
@import helper._
@main("Muteer activiteit", "mutate_activity") {
<script>
function confirmDelete(activityId)
{
	if (confirm("Weet je het zeker dat je deze activiteit wil verwijderen?")){
		location.href='/aanbieder/muteeractiviteit/verwijder/' + activityId;
		}

}
</script>
<article>
	<h1>Muteren activiteit(en)</h1>
	<p>Op deze pagina kunt u de door u aangeboden activiteiten muteren.</p>

	<table class="edit_activity">			
			@for(activity <- activityList){
					<tr>
						<td colspan="4"><hr/></td>
					</tr>
					<tr>
						<td><h3>Gegevens Activiteit</h3></td>
					</tr>
					<tr>
						<td>Naam:</td>
						<td>@activity.getName()</td>
					</tr>
					<tr>
						<td>Omschrijving:</td>
						<td>@activity.getDescription()</td>
					</tr>
					<tr>
						<td>
						<br/>
						<input class="dark_button" type="button" onclick="location.href='/aanbieder/muteeractiviteit/wijzig/' + @activity.getActivityId()" value="Wijzig activiteit" />
						<input class="red_button" type="button" onclick="confirmDelete(@activity.getActivityId())" value="Verwijder activiteit" />
						<br/><br/>
						</td>	
					</tr>
		
				}
			</table>
		</article>

}
