@(cur_page: String)
<div class="menu">		
  	<nav>
  		<ul class="navlist">
 		    <li @if(cur_page.equals("index")) {class="active_nav"}>
  				<a href="@asapp.supplierportal.controllers.routes.Main.index" id="index">+ Start</a>
		    </li>
		    @if(session.get("email")==null || session.get("role")=="user" ) {		    
			    <li @if(cur_page.equals("login")) {class="active_nav"}>
	  				<a href="@asapp.supplierportal.controllers.routes.Login.login" id="login">+ Login</a>
			    </li>
			    <li @if(cur_page.equals("registersupplier")) {class="active_nav"}>
	  				<a href="@asapp.supplierportal.controllers.routes.RegisterSupplier.register" id="register">+ Registreer</a>
			    </li>
		    }
		    
		    @if(session.get("email")!=null && session.get("role")=="supplier" ) {
		    	<hr>
			    <li @if(cur_page.equals("register_activity")) {class="active_nav"}>
		    		<a href="@asapp.supplierportal.controllers.routes.RegisterActivity.register" id="register_activity">+ Registreer activiteit</a>
		   		</li>
		   		<li @if(cur_page.equals("mutate_activity")) {class="active_nav"}>
		    		<a href="@asapp.supplierportal.controllers.routes.MutateActivity.mutate" id="mutate_activity">+ Muteer activiteit</a>
		   		</li>
		   		<li @if(cur_page.equals("reports")) {class="active_nav"}>
		    		<a href="@asapp.supplierportal.controllers.routes.Reports.showReport" id="reports">+ Rapportages</a>
		   		</li>
		    }
		</ul>
   	</nav>
</div>
