@(registerSupplierForm: Form[asapp.models.types.Supplier])
@import helper._
@import play.i18n._

@main("Registreer", "registersupplier") {
	@if(session.get("email")!=null) {
		<article>
			<h2>Graag afmelden!</h2>
				<p>
					Momenteel bent u aangemeld. Om te registreren moet u eerst <a href="/logout"><b>afmelden</b>.</a>
				</p>
		</article>
	} else {
		<article>
			<h2>Registreren als Aanbieder</h2>
			<p>Binnen ASApp kunt u als aanbieder zelf activiteiten invoeren en beheren. 
			Ook is het mogelijk om rapportages te maken over de ingevoerde activiteiten.
			Registratie is hiervoor echter noodzakelijk.
			Na registratie kunt u direct beginnen met het invoeren van activiteiten.
			<p>
			Let op: Het email adres wat u opgeeft zal gebruikt worden om boeking van activiteiten naar toe te sturen. 
			De door u opgegeven bedrijfsnaam is zichtbaar bij elke activiteit die u invoert. Het is dus aan te raden 
			hier een herkenbare bedrijfsnaam in te voeren.
			</p>
			
			<hr>
				@form(action = asapp.supplierportal.controllers.routes.RegisterSupplier.doRegister()) {
					<table>
						<tr>
							<td>
							@if(registerSupplierForm("email").hasErrors) {
								<div class="errors">
								@for(error <- registerSupplierForm("email").errors) {
									@Messages.get(error.message)<br>
								}
								</div>
							}
							<label for="email">Email adres</label>
						</td>
						<td>
							<input class="input_box" id="email" name="email" type="text" value="@registerSupplierForm("email").value">
						</td>
						</tr>
						<tr>
							<td>
								@if(registerSupplierForm("password").hasErrors) {
									<div class="errors">
									@for(error <- registerSupplierForm("password").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								<label for="password">Wachtwoord</label>
							</td>
							<td>
								<input class="input_box" id="password" name="password" type="password" value="@registerSupplierForm("password").value">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerSupplierForm("passwordValidate").hasErrors) {
									<div class="errors">
									@for(error <- registerSupplierForm("passwordValidate").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								Wachtwoord herhaling
							</td>
							<td>
								<input class="input_box" id="passwordValidate" type="password" name="passwordValidate" required="" 
									value="@registerSupplierForm("passwordValidate").value">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerSupplierForm("name").hasErrors) {
									<div class="errors">
									@for(error <- registerSupplierForm("name").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}	
								<label for="name">Bedrijfsnaam</label>
							</td>
							<td>
								<input class="input_box" id="name" name="name" type="text" value="">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerSupplierForm("description").hasErrors) {
									<div class="errors">
									@for(error <- registerSupplierForm("description").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}	
								<label for="description">Omschrijving bedrijf</label>
							</td>
							<td>
								<input class="input_box" id="description" name="description" type="text" value="">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerSupplierForm("kvkNumber").hasErrors) {
									<div class="errors">
									@for(error <- registerSupplierForm("kvkNumber").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}	
								<label for="kvknumber">KvK nummer</label>
							</td>
							<td>
								<input class="input_box" id="kvknumber" name="kvknumber" type="text" value="" pattern="[0-9]{12}" >
							</td>
						</tr>
						<tr>
							<td></td><td align="right"><input class="red_button" id="register" type="submit" value="Registreer"></td>	
						</tr>
					</table>		
				}
		</article>
	}

}	


 	
