@(activityFormObject: Form[asapp.models.types.Activity], categories: List[asapp.models.types.ActivityCategory], imageList: List[asapp.models.types.ActivityImage], dateList: List[String])
@main("Activiteit Gewijzigd", "register_activity") {
<h1>Activiteit registeren</h1>
<p>Op deze pagina kunt u de door u aangeboden activiteiten registreren.</p>
@activityForm(activityFormObject, categories, imageList, dateList)
}
