@(reportForm: Form[asapp.models.types.Supplier], activityList: List[asapp.models.types.Activity], allPeriodsList: List[List[Integer]], 
tariffTotalList: List[Integer], ownGradeList: List[Integer], allCategoryGradeList: List[String], allRemarkList: List[List[String]])
@import helper._
@import play.libs.Json

@main("Rapportages", "reports") {
  
    <h1>Activiteiten rapportages</h1>
	<p>Op deze pagina kan over de ingevoerde activiteiten worden gerapporteerd. Per activiteit wordt in tabelvorm weergegeven hoe vaak 
	de betreffende activiteit in een periode is geboekt en wat hiermee de verdiensten zijn geweest. De rapportage wordt in periodes 
	weergegeven waarmee de populariteit van de activiteiten in een historisch perspectief wordt geplaatst. Er kan gekozen worden voor 
	een dag, week of maand overzicht.
	<br/><br/>
	Elk rapport eindigt op de huidige datum. Het aantal opgegeven periodes bepaalt hoever er terug gekeken wordt in de historie.
	<br/><br/>
	Voor elke activiteit word per periode ook een staafdiagram getoond. Dit is dezelfde informatie als in de tabel. Tot slot wordt 
	voor elke activiteit aangegeven hoe deze scoort ten opzichte van activiteiten van andere aanbieders in dezelfde categorie.</p>
	<br/><hr/>
	<h3>Selectie gegevens</h3>
	
	@form(action = asapp.supplierportal.controllers.routes.Reports.doShowReport()) {
		Periode
		<select name="periodlength" class="input_box">
			<option @if(reportForm("periodlength").value == "1") { selected }value="1">Dag</option>
			<option @if(reportForm("periodlength").value == "7") { selected }value="7">Week</option>
			<option @if(reportForm("periodlength").value == "31") { selected }value="31">Maand</option>	
		</select>
		Aantal
		<select name="periods" class="input_box">
			@for(i <- 1 to 6) {
				<option @if(reportForm("periods").value == i.toString()) { selected }value="@i">@i</option>
			}
		</select>
		<input class="dark_button" id="book" type="submit" value="Rapporteer">
		<br/><br/>
	}
	
	@if(activityList.size() > 0 ) {
		
		<script src="@routes.Assets.at("javascripts/raphael.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/g.raphael.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/g.bar.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/g.pie.js")" type="text/javascript"></script>
	    <script src="@routes.Assets.at("javascripts/graphing.js")" type="text/javascript"></script>
		
		<script>
			activityList = new Array(); 
			@for(i <- activityList.indices) {
				activityList[@i]="@activityList(i).getName()";
			}
			allPeriodsList = @Html(Json.stringify(Json.toJson(allPeriodsList)));	
			ownGradeList = @Html(Json.stringify(Json.toJson(ownGradeList)));
			allCategoryGradeList = @Html(Json.stringify(Json.toJson(allCategoryGradeList)));
			allRemarkList = @Html(Json.stringify(Json.toJson(allRemarkList)));		
		</script>	
	
		<h3>Rapport</h3>
		<div class="report">
			<table>
				<tr>
					<th>Activiteit</th>
					<th colspan="@(allPeriodsList(0).size()-1)">Historie in 
						@if(reportForm.data.get("periodlength") == "1") { dagen }
						@if(reportForm.data.get("periodlength") == "7") { weken }
						@if(reportForm.data.get("periodlength") == "31") { maanden }
					</th>
					<th>Totaal</th>
					<th>Gem.</th>
					<th>Verdiensten</th>
				</tr>
				<tr>
					<td></td>
					@for(j <- allPeriodsList(0).indices) {
						@if(allPeriodsList(0).size()-j-1 != 0) {
							<td>
								@(allPeriodsList(0).size()-j-1)
							</td> 
							}					
					}
					<td></td><td></td><td></td>
				</tr>
				@for(i <- activityList.indices) {			
					<tr>
						<td id="activity">@activityList(i).getName()</td>
						@for(count <- allPeriodsList(i)) {
							<td>@count</td>
							
						}
						<td>@((allPeriodsList(i).get(allPeriodsList(i).size()-1)/(allPeriodsList(i).size()-1)))</td>
						<td>€@tariffTotalList(i)</td>
					</tr>	
				}
			</table>
			<br/>
		</div>
		
		<div id="barholder">	
		</div>
		
		<hr/>
		<h3>Populariteits score</h3>
		<div id="pieholder">	
		</div>
		
		<p>Made with <a href="http://g.raphaeljs.com/">gRaphaël</a> JavaScript library.</p>
		<br/>
        
        <hr/>
        <h3>Activiteit feedback</h3>
        <p>Hieronder vindt u de meest recente zes opmerkingen voor elke activiteit, mits er reeds feedback gegeven is op de betreffende activiteit.
         U kunt deze feedback eventueel gebruiken om de activiteit te verbeteren. Ook geeft het een indicatie van de reden voor de behaalde score 
         in het populariteitsoverzicht.</p>
          
        @for(i <- activityList.indices) {
        	<div class="report_remarks">
	        	<table>
		        	@if(allRemarkList(i).length > 0) {
		        		<tr>
		        			<th>@activityList(i).getName()</th>
		        		</tr>
		        		@for(j <- allRemarkList(i).indices) {
		        			@if(j < 6) {
				        		<tr>
				        			<td>- @allRemarkList(i)(j)</td>
				        		</tr>	    
			        		}    		
		        		}
		        	}
	        	</table>       	
         	</div>
		}    
 	}
}
