Geachte %first_name% %middle_name% %last_name%,<br><br>

Bedankt voor uw registratie bij ASAPP.<br><br>

Via de onderstaande link kunt u inloggen. <br><br>

<a href="http://asapp.localhost.nl/login" target="_blank">http://asapp.localhost.nl/login</a><br><br>

Vriendelijke groeten,<br><br>

ASAPP team<br>
Website : <a href="http://asapp.localhost.nl/" target="_blank">http://asapp.localhost.nl/</a><br>
Mail : <a href="mailto:info@asapp.localhost.nl">info@asapp.localhost.nl</a>
