Geachte %name%,<br><br>

Bedankt voor uw supplier registratie bij ASAPP.<br><br>

Via de onderstaande link kunt u inloggen op het aanbiedersportal. <br><br>

<a href="http://asapp.localhost.nl/aanbieder/login" target="_blank">http://asapp.localhost.nl/aanbieder/login</a><br><br>

Vriendelijke groeten,<br><br>

ASAPP team<br>
Website : <a href="http://asapp.localhost.nl/" target="_blank">http://asapp.localhost.nl/</a><br>
Mail : <a href="mailto:info@asapp.localhost.nl">info@asapp.localhost.nl</a>
