@main("Hoofdpagina", "index") {
	<article class="article_content">
		<h1>Welkom bij de Activity Surprise Adminsportal</h1>
		<p>Via dit portaal kunt u als administrator alles :) 
		</p>
		
		<h2>Muteren gebruiker accounts</h2>
		<p>Als admin kunt u gebruikers gegevens muteren, dus ook verwijderen.
		</p>	 	

		<h2>Muteren activiteiten</h2>
		<p>U kunt activiteiten muteren en ook ongewenste activiteiten verwijderen.
		</p>
		
		<h2>Toevoegen en muteren categorieën</h2>
		<p>Als administrator kunt u ook nieuwe categorieën toevoegen of bestaande muteren.
		</p>
	</article>
}