@(loginForm: Form[asapp.adminportal.controllers.Login.Logins])
@import helper._
@main("Login", "login") {
	@if(session.get("email")!=null) {
		@if(session.get("role") == "admin") {
			<article>
				<h2>U bent al aangemeld</h2>
					<p>
						Momenteel bent u al aangemeld als admin. Om in te loggen als een andere admin moet u eerst <a href="/logout"><b>afmelden</b>.</a>
					</p>
			</article>
		}else {
			<article>
				<h2>Graag afmelden!</h2>
					<p>
						Momenteel bent u aangemeld maar u heeft geen admin rechten. Om in te loggen als admin moet u eerst <a href="/logout"><b>afmelden</b>.</a>
					</p>
			</article>
		}
	}else {
		@form(asapp.adminportal.controllers.routes.Login.authenticate) {
			<h2>Login</h2>
			<p>
				Graag aanmelden met uw admin account! 
			</p>	
			<hr>	
	
			<p>
				<input class="input_box" type="email" name="email" placeholder="Email" value="@loginForm("email").value">
			</p>
			<p>
				<input class="input_box" type="password" name="password" placeholder="Password">
			</p>
			<p>
				<button class="red_button" type="submit">Login</button>
			</p>
		}
	}	
}