@(categoryForm: Form[asapp.models.types.ActivityCategory],ActivityCategoryList: List[asapp.models.types.ActivityCategory])
@import helper._
@import play.i18n._

@main("Muteren categorieën", "mutate_category") {

	<script>
	function confirmMutation(categorie)
	{
	
	var choice = confirm("Weet je zeker dat je categorie "+ categorie +" wil wijzigen?");
	if (choice==true)
	  {
		location.href='/adminportal/muteercat/' + categorie;
	  }
	
	}
	</script>

	<article class="article_content">
		<h1>Muteren categorieën</h1>
		<p>Het muteren van categorieën inclusief toevoegen en verwijderen.
		</p>
	
		<h2>Nieuwe categorie toevoegen</h2>
		<p>Vul gegevens in een maak een nieuwe categorie.
		</p>
		
			@form(action = asapp.adminportal.controllers.routes.MutateCategory.makeActivityCategory()) {
				<table>
					<tbody>
						<tr>
							<td>
								@if(categoryForm("category").hasErrors) {
									<div class="errors">
									@for(error <- categoryForm("category").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								<label for="category">Categorie naam</label>
							</td>
							<td>
								<input class="input_box" id="category" size= "50" name="category" type="text" value="@categoryForm("category").value">
							</td>
						</tr>
						
						
						<tr>
							<td>
								@if(categoryForm("description").hasErrors) {
									<div class="errors">
									@for(error <- categoryForm("description").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}	
								<label for="description">Beschrijving</label>
							</td>
							<td>
								<textarea class="input_box" id="description" name="description" rows="5" cols="50"  maxlength="200" type="text" 
								value="@categoryForm("description").value"></textarea>
									
							</td>
						</tr>
						
						<tr>
							<td></td><td align="right"><input class="red_button" id="makeCategorie" type="submit" value="Maak categorie"></td>	
						</tr>
					</tbody>
				</table>
			}
		
		
		<h2>Overzicht categorieën</h2>
		<p>Druk op wijzigen om een categorie te muteren.
		</p>
		
		<table>
			<tr>
				<th>Categorie</th>
				<th>Beschrijving</th>
				<th></th>
			</tr>
			@for(category <- ActivityCategoryList) {
					<tr>
						<td>@category.getCategory()</td>
						<td>@category.getDescription()</td>
						<td><input class="dark_button" type="button" onclick="confirmMutation('@category.getCategory()')" value="Wijzigen" /></td>
					</tr>
			}
		</table>
			
	</article>
}