@(userList: List[asapp.models.types.User])
@import helper._
@main("Muteren gebruikers", "mutate_users") {

<script>
function confirmDeletion(userId)
{

var choice = confirm("Weet je zeker dat je deze "+ userId +" user wil verwijderen?");
if (choice==true)
  {
	location.href="@asapp.frontend.controllers.routes.Activities.allCategories";
  }

}
</script>

	<article class="article_content">
		<h1>Muteren gebruikers</h1>
		<p>Het muteren en verwijderen van gebruikers.
		</p>
		
		<table>
			<tr>
				<th>Gebruikersnaam</th>
				<th>Role</th>
				<th></th>
			</tr>

			@for(user <- userList) {
					<tr>
						<td>@user.getUsername()</td>					
						<td>@user.getRole().getName</td>			
						<td>
							<input class="dark_button" type="button" onclick="confirmDeletion(@user.getUserId)" value="Muteer" />
							<input class="red_button" type="button" onclick="confirmDeletion(@user.getUserId)" value="Verwijder" />
						</td>			
					</tr>
			}
		</table>
		
		

	</article>
	
	
}