@(cur_page: String)
<div class="menu">		
  	<nav>
  		<ul class="navlist">
		     <li @if(cur_page.equals("index")) {class="active_nav"}>
  				<a href="@asapp.adminportal.controllers.routes.Main.index" id="index">+ Start</a>
		    </li>	
		    @if(session.get("role")!="admin" ) {
	   			<li @if(cur_page.equals("login")) {class="active_nav"}>
		  			<a href="@asapp.adminportal.controllers.routes.Login.login" id="login">+ Login</a>
				</li>
			}
		    
		    @if(session.get("email")!=null && session.get("role")=="admin" ) {
		    	<hr>
			    <li @if(cur_page.equals("mutate_users")) {class="active_nav"}>
		    		<a href="@asapp.adminportal.controllers.routes.MutateUsers.usersOverview" id="mutate_users">+ Muteren gebruikers</a>
		   		</li>
		   		<li @if(cur_page.equals("mutate_activity")) {class="active_nav"}>
		    		<a href="@asapp.adminportal.controllers.routes.MutateActivity.mutate" id="mutate_activity">+ Muteren activiteiten</a>
		   		</li>
		   		<li @if(cur_page.equals("mutate_category")) {class="active_nav"}>
		    		<a href="@asapp.adminportal.controllers.routes.MutateCategory.categoryOverview" id="mutate_category">+ Muteren categorieën</a>
		   		</li>
		    }
		</ul>
   	</nav>
</div>
