@main("Succesvol categorie gemuteerd", "mutate_category") {
	<article class="article_content">
		<h1>Succesvol gemuteerd</h1>
		<p>De categorie is gemuteerd<br>

		<script language="JavaScript" type="text/javascript">  
			var count =6  
			var redirect="@asapp.adminportal.controllers.routes.MutateCategory.categoryOverview"
			  
			function countDown(){  
			 if (count <=0){  
			  window.location = redirect;  
			 }else{  
			  count--;  
			  document.getElementById("timer").innerHTML = "U keert binnen "+count+" second(en) naar het categorie overzicht."  
			  setTimeout("countDown()", 1000)  
			 }  
			}  
		</script>  
			  
			<span id="timer"> 
			<p>Druk <a href="@asapp.adminportal.controllers.routes.MutateCategory.categoryOverview" id="mutate_category"> hier </a> 
			om direct terug te keren.<br>  
			  
		<script>  
			 countDown();  
		</script>  
		</span>  
		</p>
	</article>
}