@main("Succesvol categorie toegevoegd", "mutate_category") {
	<article class="article_content">
		<h1>Nieuwe activiteiten categorie toegevoegd</h1>
		<p>U heeft succesvol een nieuwe activiteiten categorie toegvoegd.<br>
		Aanbieders kunnen deze categorie nu selecteren bij het aanmaken van een activiteit.
		</p>
	</article>
}