@(activityCat: asapp.models.types.ActivityCategory,categoryForm: Form[asapp.models.types.ActivityCategory])
@import helper._
@import play.i18n._

@main("Wijzigen van categorie", "mutate_category") {
	<article class="article_content">

			<h1>Wijzigen van categorie : @activityCat.getCategory()</h1>
			<p>U kunt momenteel alleen de beschrijving van de categorie wijzigen<br>
			</p>
			
			@form(action = asapp.adminportal.controllers.routes.MutateCategory.updateActivityCategory()) {
					<table>
						<tbody>
							<tr>
								<td>
									@if(categoryForm("category").hasErrors) {
										<div class="errors">
										@for(error <- categoryForm("category").errors) {
											@Messages.get(error.message)<br>
										}
										</div>
									}
									<label for="category">Categorie naam</label>
								</td>
								<td>
								@if(categoryForm("category").value!=null){
									<input class="input_box" id="category" size= "50" name="category" type="text" value="@categoryForm("category").value" readonly>
								}else{
									<input class="input_box" id="category" size= "50" name="category" type="text" value="@activityCat.getCategory()" readonly>
								}
								</td>
							</tr>
							
							
							<tr>
								<td>
									@if(categoryForm("description").hasErrors) {
										<div class="errors">
										@for(error <- categoryForm("description").errors) {
											@Messages.get(error.message)<br>
										}
										</div>
									}	
									<label for="description">Beschrijving</label>
								</td>
								<td>
									<textarea class="input_box" id="description" name="description" rows="5" cols="50"  maxlength="200" type="text" 
									value="@categoryForm("description").value">@activityCat.getDescription()</textarea>
										
								</td>
							</tr>
							
							<tr>
								<td></td><td align="right"><input class="red_button" id="updateCategorie" type="submit" value="Opslaan"></td>	
							</tr>
						</tbody>
					</table>
				}

	</article>
}