@main("Geen geldige categorie", "mutate_category") {
	<article class="article_content">
	
		<h1>Geen geldige activiteiten categorie</h1>
		<p>Sorry er is geen geldige activiteiten categorie opgegeven.<br>
		</p>
		
	</article>
}