@import "defaults.less";
@import "corners.less";

.red_button {
	background: @link_highlight_color;
	.rounded_corners;
	border: 1px solid @link_highlight_color;
	color: @top_text_color;
	height: 22px;
}

.dark_button {
	background: black;
	.rounded_corners;
	border: 1px solid black;
	color: @top_text_color;
	height: 22px;
}
