@import "defaults.less";

.rounded_corners (@radius: @default_border_radius) {
	border-radius: @radius;    
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
}
