// Page styles
@top_background_color: #555;
@box_background_color: #EEE;
@box_border_color: #CCC;
@box_border_size: 1px solid;
@box_border_radius: 5px;
@default_border_radius: 5px;
@link_highlight_color: red;
@top_text_color: white;
@container_width: 740px;
@default_font_family: 'Open Sans', sans-serif;
