@import "defaults.less";

.bottom {
	line-height: 140%;
	overflow: hidden;
	clear: both;
	border-top: solid 3px;
	border-color: @box_background_color;
	margin-top: 15px;
	margin-bottom: 30px;
}

.bottom_grid {
 	position:relative;
	color: @top_background_color;
	float: left;
	top: 0px;
 	left: -50%;	
	width: 180px;
	margin-left: 10px;
	margin-bottom: 10px;
}