
.icon {
    background: transparent url("../images/icons.png") no-repeat;
    border: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.iMagnifier        {width:16px;height:16px;background-position: 0 0}
.iCalendar         {width:16px;height:16px;background-position: -16px 0}
.iClock            {width:16px;height:16px;background-position: -32px 0}
.iReply            {width:11px;height:15px;background-position: -48px 0}
.iReplyHover       {width:11px;height:15px;background-position: -59px 0}
.iPost             {width:15px;height:15px;background-position: -70px 0}
/*row2*/
.iFolder           {width:12px;height:10px;background-position: 0 -16px}
.iX                {width:09px;height:09px;background-position: -16px -16px;cursor: pointer;}
.iX:hover,.iXHover {width:09px;height:09px;background-position: -25px -16px;cursor: pointer;}
.iPlugGray         {width:11px;height:11px;background-position: -34px -16px}
.iPlugRed          {width:11px;height:11px;background-position: -45px -16px}
.iLocation         {width:09px;height:13px;background-position: -56px -16px}
.iNext             {width:11px;height:16px;background-position: -65px -16px}
.iNext:hover       {width:11px;height:16px;background-position: -76px -16px}
.iPrev             {width:11px;height:16px;background-position: -98px -16px}
.iPrev:hover       {width:11px;height:16px;background-position: -87px -16px}
/*row3*/
.iBigX             {width:27px;height:27px;background-position: 0 -32px;cursor: pointer;}
.iBtnRed           {width:29px;height:25px;background-position: -27px -32px;cursor: pointer;}
