// ASApp less styles

@import "defaults.less";
@import "corners.less";
@import "buttons.less";
@import "footer.less";
@import "fineuploader.less";

body { 
	font-family: @default_font_family; 
	font-size: 14px; 
	margin: 0px 0px 0px 0px;
}

a {
	white-space: nowrap;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: @link_highlight_color;
}

nav ul {
	list-style-type: none; 
	padding-top: 0px;
	padding-left: 10px;
}

nav ul#subitem {
	list-style-type: none; 
	padding-top: 0px;
	padding-left: 13px;
}

#booking_select {
	width: 300px;
}

#booking_category {
	width: 92%;
}

#booking_box {
	width: 93%;
}

.edit_booking {
	width: 50%;
	white-space: nowrap
}

.image_wrapper {
	border: @box_border_size;
	.rounded_corners;
	border-color: @box_border_color;
	overflow: hidden;
}

.image_wrapper img {
	height: 100%;
	width: 100%;
	margin-bottom: -3px;
}

.active_nav a {
    color: @link_highlight_color;
}

.activity {
	line-height: 110%;
	position:relative;
	float: left;
	width: 200px;
	height: 390px;
	top: 0px; 
	border: @box_border_size;
	border-color: @box_border_color;
	.rounded_corners;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.activity_mutate {
	line-height: 110%;
	position:relative;
	float: left;
	width: 200px;
	height: 200px;
	top: 0px; 
	border: @box_border_size;
	border-color: @box_border_color;
	.rounded_corners;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.activity_mutate img {
	height: 135px;
	height: 100%;
	width: 100%;
	margin-bottom: -3px;
	}

.activity table {
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
	border-spacing: 0;
	border-collapse: collapse;
}

.activity td {
	vertical-align: top;
}

.activity img {
	height: 135px;
}

.top {
	min-width: @container_width;
	padding: 10px;
	background-color: @top_background_color;
	height: 30px;
	color: @top_text_color;
}

.top p#logo {
	font-weight:900;
	font-size: 25px;
	margin: 0px 0px 0px 0px;
	float:left;
}

.top p#logo2 {
	margin-left: 10px;
	margin-top: 11px;
	margin-bottom: 0px;
	float:left;
}

.top #facebook {
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
	float:right;
}

.top #v_separator {
	margin-top: 3px;
	width: 1px;
	height: 17px;
	display: inline;
	margin-left: 5px;
	margin-right: 6px;
	float: right;
}

.top a {
	white-space: nowrap;
	text-decoration: none;
	color: white;
}

.login_bar {
	float: right;
	margin-top: 1px;
	margin-bottom: 0px;
}

.login_bar form {
	display: inline;
}

.banner {
	max-height: 190px;
	margin-top: 3px;
	text-align: center;
	overflow: hidden;
}

.banner img {
	min-width: 710px;
    width: 100%;
   	max-height: 100%;
}

.container {	
	position: relative;
	min-width: @container_width;
	width: 80%; 
	height: 100%;
	margin-top: -5px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	float: left;
	top: 0px;
 	left: 0px;	
	width: 190px; 
	background-color: @box_background_color;
	border: @box_border_size;
	.rounded_corners;
 	border-color: @box_border_color;
 	margin-bottom: 10px;
	margin-right: 10px;
}

.content {
	line-height: 140%;
	overflow: hidden;
	top: 0px; 
 	border: @box_border_size;
	.rounded_corners;
 	border-color: @box_border_color;
 	margin: 15px 0px 0px 0px;	
 	padding: 10px;
}

.input_box {
    padding-left: 4px;
    .rounded_corners;
    border-style: inset;
    border-width: 2px;
}

.wrapper {
    position: relative;
    float: left;
    left: 50%;
}

.report table {
	.rounded_corners;
	width: 50%;
	min-width: 460px;
	border: 1px solid @box_border_color;	
	text-align: center;	
}

.report_remarks {
    position: relative;
	float: left;
	margin: 15px;
}

.report th {
	background-color: @box_background_color;
	padding: 3px;	
}

.report tr:nth-child(odd) {	
	background-color: @box_background_color;
}

.report td#activity {
	text-align: left;	
}

#pieholder {
	height: 280px;
}
