@main("ASApp - altijd een leuke verrassing!", "boeken") {
<h1>Boeking voltooid</h1>
<p>Bedankt voor de boeking! Alle deelnemers ontvangen een email met een bevestigingslink om aan te geven of ze mee gaan of niet.</p>
}