@(bookActivityForm: Form[asapp.models.types.ParticipantGroup], categories: List[asapp.models.types.ActivityCategory], participant: asapp.models.types.Participant)
@import helper._
@import play.i18n._

@main("ASApp - altijd een leuke verrassing!", "boeken") {

<script>
	function addRow()
	{
		var table = document.getElementById("participants");
		var rowNum = 9;
		var rowCount = table.rows.length;
		var row = table.insertRow(rowCount-rowNum);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);
		var cell4 = row.insertCell(3);
		cell1.innerHTML = '<input class="input_box" id="booking_box" type="text" name="firstname' + (rowCount-rowNum) + '" required>';
		cell2.innerHTML = '<input class="input_box" id="booking_box" type="text" name="lastname' + (rowCount-rowNum) + '"required>';
		cell3.innerHTML = '<input class="input_box" id="booking_box" type="email" name="email' + (rowCount-rowNum) + '" required>';
		cell4.innerHTML = '<input class="dark_button" type="button" onclick="removeRow(this)" value="Verwijder" size="12">';
	}
	
	function removeRow(source)
	{
		var table = document.getElementById("participants");
		var row = source.parentElement.parentElement; 
		table.deleteRow(row.rowIndex); 				
	}		
</script>

<article>
	<h2>Boek een activiteit</h2>
	<p>
	Op deze pagina kun je een activiteit boeken. Hiervoor geef je de namen en email adressen op van de deelnemers,
	de categorie waarin je wat wilt boeken en nog wat overige informatie. Na bevestiging van de informatie krijgen alle 
	deelnemers een e-mail met daarin een link waarmee ze kunnen aangeven of ze wel of niet komen. Als de uiterste reactiedatum
	 is verstreken zal er een activiteit in de gekozen categorie worden toegewezen.
	</p>
	<h3>Gegevens</h3>

	@form(action = asapp.frontend.controllers.routes.BookActivity.doBookActivity()) {
		<table id="participants">
			<tr>
				<td>Voornaam</td><td>Achternaam</td><td>E-mail adres</td><td></td>
			</tr>
			<tr>
				<td><input class="input_box" id="booking_box" type="text" name="firstname1" value="@participant.getFirstName()" readonly></td>
				<td><input class="input_box" id="booking_box" type="text" name="lastname1" value="@participant.getLastName()" readonly></td>	
				<td><input class="input_box" id="booking_box" type="email" name="email1" value="@participant.getEmail()" readonly></td>
			</tr>
			@for((key, value) <- bookActivityForm.data) {
				@if(key.contains("email") && key != "email1") {
				<tr>
					<td><input class="input_box" id="booking_box" type="text" name="firstname@key.replace("email","")" value="@bookActivityForm.data.get("firstname" + key.replace("email",""))" required></td>
					<td><input class="input_box" id="booking_box" type="text" name="lastname@key.replace("email","")" value="@bookActivityForm.data.get("lastname" + key.replace("email",""))" required></td>
					<td><input class="input_box" id="booking_box" type="email" name="@key" value="@value" required></td>	
					<td><input class="dark_button" type="button" onclick="removeRow(this)" value="Verwijder" size="12"></td>					
				</tr>			
				}			
			}
			
			<tr>
				<td colspan="3"><input class="dark_button" id="add" type="button" onclick="addRow()" value="Voeg deelnemer toe" size="12"></td>				
			</tr>
			<tr>
				<td>Maximum prijs p/p</td>
				<td>
					<select name="price" class="input_box">
						<option value="15">€15</option>
						<option value="20">€20</option>
						<option value="25">€25</option>
						<option value="40">€50</option>
						<option value="60">€75</option>
						<option value="100">€100</option>
						<option value="9999">Onbeperkt</option>			
					</select>
				</td>
			</tr>
			<tr>
				<td>Categorie</td>
				<td colspan="3">
					<select id="booking_select" name="category" class="input_box">					
						@for(category <- categories) {
							<option value="@category.getCategory()"> 							 
								@category.getCategory() : @category.getDescription()
							</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>					
					Postcode
				</td>
				<td colspan="3">
					<input class="input_box" type="text" name="zipcode" value="@bookActivityForm.data.get("zipcode")" size="9">
					@if(bookActivityForm("zipcode").hasErrors) {				
						@for(error <- bookActivityForm("zipcode").errors) {
							@Messages.get(error.message)
						}
					}
				</td>							
			</tr>
			<tr>
				<td>Afstand in km</td>
				<td colspan="3">
					<input class="input_box" type="number" min="0" name="distance" size="9"
						@if(bookActivityForm.data.get("distance") == null) {
							value=0
						} else { 
							value=@bookActivityForm.data.get("distance")
						} 
						>
					@if(bookActivityForm("distance").hasErrors) {				
						@for(error <- bookActivityForm("distance").errors) {
							@Messages.get(error.message)
						}
					}
				</td>
			</tr>
			<tr>
				<td>Datum activiteit</td>
				<td colspan="4">
					<input type="datetime-local" name="date" id="date" class="input_box" size="9" value="@bookActivityForm.data.get("date")">
					@if(bookActivityForm("date").hasErrors) {				
						@for(error <- bookActivityForm("date").errors) {
							@Messages.get(error.message)
						}
					}					
				</td>
				@if(bookActivityForm.data.get("date") == null) {
					<script>				
						var date = new Date();
						date.setDate(date.getDate() + 2);
						document.getElementById('date').value = date.toJSON().slice(0,10) +"T09:00";
						document.getElementById('date').min =  date.toJSON().slice(0,10) +"T09:00";
					</script>	
				}			
			</tr>
			<tr>
				<td colspan="3">Laatste opgave moment tot
					<select name="timeout" class="input_box">
						<option @if(bookActivityForm("timeout").value == "1") { selected }value="1">1 dag </option>
						<option @if(bookActivityForm("timeout").value == "2") { selected }value="2">2 dagen</option>
						<option @if(bookActivityForm("timeout").value == "3") { selected }value="3">3 dagen</option>
						<option @if(bookActivityForm("timeout").value == "7") { selected }value="7">1 week</option>
						<option @if(bookActivityForm("timeout").value == "14") { selected }value="14">2 weken</option>
					</select>
					voor aanvang activiteit (denk om datum!)
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td><input class="red_button" id="book" type="submit" value="Boek activiteit"></td>
			</tr>
		</table>
	}
</article>
}
