@(category: String, activityList: List[asapp.models.types.Activity], imageList: List[asapp.models.types.ActivityImage])
@main("ASApp - altijd een leuke verrassing!", category) {
<article>

		@for(i <- activityList.indices) { 
			<div class="activity">
				<div class="image_wrapper">
				@if(imageList(i).getHash() == null) {
					<img id="activity_img" alt="Activity img" src="@routes.Assets.at("images/activityimages/defaultpicsmall.jpg")">
				} else {				
					<img id="activity_img" alt="Activity img" src="@asapp.frontend.controllers.routes.Activities.image(imageList(i).getActivityImageId)">
				}
				</div>
				<table id="itemtable">
					<tr>
						<td colspan="2"><hr/></td>
					</tr>
					<tr>
						<td>Activiteit</td><td>@activityList(i).getName()</td>
					</tr>
					<tr>
						<td>Categorie</td><td>@activityList(i).getActivityCategory().getCategory()</td>
					</tr>
					<tr>
						<td>Aanbieder</td><td>@activityList(i).getSupplier().getName()</td>
					</tr>
					<tr>
						<td>Kosten p/p</td><td>€@activityList(i).getBaseTariffParticipant()</td>
					</tr>
					<tr>
						<td colspan="2"><hr/></td>
					</tr>
					<tr>
						<td colspan="2">Omschrijving</td>
					</tr>
					<tr>
						<td colspan="2">@activityList(i).getDescription()</td>
					</tr>
				</table>		
			</div>	
		}	
		
		@if(activityList.isEmpty) {
			<div class="activity">
				Geen activiteiten gevonden..
			</div>  			
		} 		

</article>
}
