@(participantGroupMemberForm: Form[asapp.models.types.ParticipantGroupMember], bookingList: List[asapp.models.types.ParticipantGroupMember], participant: asapp.models.types.Participant)
@import helper._
@import java.text.SimpleDateFormat
@import java.util.Date

@main("ASApp - altijd een leuke verrassing!", "Mijn Boekingen") {

<script>
function confirmCancel(groupId)
{

var choice = confirm("Weet je zeker dat je deze activiteit wil annuleren?");
if (choice==true)
  {
	location.href='/wijzigboekingen/' + groupId;
  }

}
</script>

<article>
	<h2>Bekijk boekingen</h2>
	<p>
	Op deze pagina kun je je boekingen bekijken en eventueel annuleren. Na annulering krijgen alle deelnemers een 
	e-mail dat de activiteit is geannuleerd. Ook de aanbieder wordt hiervan op de hoogte gebracht.
	</p>

		<table class="edit_booking">			
			@for(bookingA <- bookingList) {
				@if(bookingA.getParticipantGroup().getPreferredTime().after(new Date())) {
					@if(bookingA.getInitiator() == 1) {
						<tr>
							<td colspan="4"><hr/></td>
						</tr>
						<tr>
							<td><h3>Gegevens Activiteit</h3></td>
						</tr>
						<tr>
							<td>Categorie</td>
							<td>@bookingA.getParticipantGroup().getActivityCategory().getCategory()</td>
						</tr>				
						<tr>
							<td>Datum activiteit</td>
							<td>@(new SimpleDateFormat("dd-MMM-yyyy HH:mm aa").format(bookingA.getParticipantGroup().getPreferredTime()))</td>
						</tr>
						<tr>
							<td>Postcode gebied</td>
							<td>@bookingA.getParticipantGroup().getPostcodeArea()</td>
						</tr>
						<tr>
							<td>Afstand</td>
							<td>@bookingA.getParticipantGroup().getMaxDistance() km</td>
						</tr>
						<tr>
							<td>Kosten p/p</td>
							@if(bookingA.getParticipantGroup().getTariffParticipant() == 9999) {
								<td>Onbeperkt</td> 
							} else {
								<td>€@bookingA.getParticipantGroup().getTariffParticipant()</td>
							}
						</tr>
						<tr>	
							<td colspan="2">Uiterlijk @bookingA.getParticipantGroup().getNotificationTimeout() dag(en) van tevoren opgeven</td> 
						</tr>
						<tr>
	
						</tr>
						<tr>
							<td><h3>Deelnemers</h3></td>
						</tr>
						<tr>
							<td>Naam</td><td>E-mail</td><td>Gaat mee</td>
						</tr>
						@for(bookingB <- bookingList) {
	
							@if(bookingA.getParticipantGroup().getParticipantGroupId == bookingB.getParticipantGroup().getParticipantGroupId) {
							<tr>
								<td>@bookingB.getParticipant().getFirstName() @bookingB.getParticipant().getLastName()</td>
								<td>@bookingB.getParticipant().getEmail()</td>
								<td><input type="checkbox" @if(bookingB.getParticipantConfirmed() == 1) { checked } disabled="disabled" /></td>
							</tr>
									
							}
						}
						<tr>
							<td>
							<br/>
							<input class="red_button" type="button" onclick="confirmCancel(@bookingA.getParticipantGroup().getParticipantGroupId())" value="Annuleer activiteit" />
							<br/><br/>
							</td>	
						</tr>						
					}
				}						
			}
		</table>

		<br/>					
	</article>
}
