<footer>
	<div class="bottom">
		<div class="wrapper">
	 	 	<div class="bottom_grid">
			 	<h4>FAQ</h4>
			 	Komt u er niet uit? Op de <a href="">FAQ pagina</a> vindt u meer informatie over de werking en het gebruik van ASApp.
		 	</div>
		 	<div class="bottom_grid">
			 	<h4>Over ASApp</h4>
			 	Wilt u weten wie ASApp hebben gemaakt? <a href="">Hier</a> komt u alles te weten over de makers van ASApp en meer.
		 	</div>		 	
			<div class="bottom_grid">
			 	<h4>Nieuwsbrief</h4>
			 	Schrijf uzelf in voor onze nieuwsbrief!<br/><br/>
			 	<input class="input_box" type="text" size="14" placeholder="Email-adres"><br/><br/>
			 	<input class="red_button" type="submit" value="Inschrijven">				 	
		 	</div> 
			<div class="bottom_grid">
			 	<h4>Aanbieders</h4>
			 	<a href="@asapp.supplierportal.controllers.routes.Main.index">Aanbiedersportal</a><br>
			 	<a href="#">Informatie voor aanbieders</a>
			 	<a href="@asapp.supplierportal.controllers.routes.RegisterSupplier.register">Registreer als aanbieder</a>
		 	</div> 
		 	<div class="bottom_grid">
			 	<h4>Contact</h4>
			 	Heeft u toch nog vragen? U kunt ons bereiken via:<br/><br/>
			 	<a href="mailto:info@@asapp.localhost.nl">info@@asapp.localhost.nl</a><br/>
			 	+31 50 234 5678
			</div>	
	 	</div>
	</div>
</footer>
