@main("ASApp - altijd een leuke verrassing!", "index") {
	@if(session.get("email") !=null && session.get("role") == "supplier") {
		<article class="article_content">
			<h1>Beperkte toegang</h1>
			<p>Met uw aanbieder account kunt u niet van alle afnemers functionaliteiten gebruik maken.
			Klik <a href="/aanbieder"><b>hier</b></a> om terug te keren naar het aanbieders portaal.
			</p>
		
		</article>
	} else {
		<article class="article_content">
			<h1>Welkom bij de Activity Surprise App!</h1>
			<p>Met ASApp kunt u uw familie, vrienden of collega's via email uitnodigen om samen een leuke activiteit te ondernemen. 
			Van te voren blijft het echter voor iedereen een verrassing wat de activiteit zal worden omdat ASApp voor u een keuze 
			maakt hierin. U kunt wel aangeven in welke categorie u een activiteit wenst te ondernemen, maar de uiteindelijke 
			selectie blijft een verrassing. Dit gegeven onderscheidt ASApp van andere aanbieders van activiteiten, en voegt zo 
			een avontuurlijk element toe in de activiteit. Succes verzekerd!</p>
			
			<h2>Activiteiten bekijken</h2>
			<p>Voordat u een activiteit boekt kunt u zien welke activiteiten er zoal worden aangeboden. Dan heeft u een goed idee wat
			u ongeveer kunt verwachten.</p>	 	
			
			<h2>Activiteiten boeken</h2>
			<p>Als u een activiteit boekt via ASApp wordt de aanbieder van de activiteit hiervan automatisch op de hoogte gesteld. 
			Aparte reserveringen zijn dus niet nodig. Tevens kan elke deelnemer na afloop (anoniem) aangeven wat hij/zij 
			van de activiteit vond. Deze informatie wordt gebruikt voor de selectie van activiteiten voor een andere groep. 
			De hoogst scorende activteiten maken de grootste kans. Op deze manier is de kans op een leuke activiteit altijd groot!</p>	 	
			<p>Dus wacht niet langer en verras uw familie en/of vrienden met een leuk uitje!</p>
			
			<h2>Activiteiten aanbieden</h2>
			<p>Voor aanbieders van activiteiten is het mogelijk om zelf activiteiten in te voeren en te beheren. Tevens kan er worden
			gerapporteerd over de ingevoerde activiteiten en feedback. Zo kan per activiteit gekeken worden of deze in de smaak valt
			en waar deze eventueel voor verbetering vatbaar is.</p>
			
			<h2>Registratie</h2>
			<p>Voor het gebruik van ASApp kunt u zich eenmalig registreren. Dit is geheel gratis. Registratie is niet nodig voor de personen 
			die u uitnodigt voor een activiteit, maar zij kunnen zich indien gewenst uiteraard ook registreren om zelf een activiteit te plannen.
			Registratie voor aanbieders is ook geheel gratis.</p>
		</article>
	}
	
}
