@(form: Form[asapp.frontend.controllers.Login.Logins]) 
@main("ASApp altijd een leuke verrassing!", "login") {
	@if(session.get("email")!=null) {
		<article>
			<h2>Graag afmelden!</h2>
				<p>
					Momenteel bent u aangemeld. Om in te loggen moet u eerst <a href="/logout"><b>afmelden</b>.</a>
				</p>
		</article>
	} else {
		<article>
			<h2>Login</h2>
				<p>
					Graag aanmelden met uw inlog gegevens! Heeft u nog geen account dan kunt u <a href="/registreer"><b>hier</b></a>
					gratis registreren.
				</p>	
			<hr>	
			@helper.form(asapp.frontend.controllers.routes.Login.authenticate) {
				<p>
					<input class="input_box" type="email" name="email" placeholder="Email-adres" value="@form("email").value">
				</p>
				<p>
					<input class="input_box" type="password" name="password" placeholder="Password">
				</p>
				<p>
					<button class="red_button" type="submit">Login</button>
				</p>
			}	
		</article>
	}	
}



