@(cur_page: String)
<div class="menu">		
  	<nav>
  		<ul class="navlist">
 		    <li @if(cur_page.equals("index")) {class="active_nav"}>
  				<a href="@asapp.frontend.controllers.routes.Main.index">+ Start</a>
		    </li>
		    @if(session.get("email") == null || session.get("role") == "supplier") {		    
			    <li @if(cur_page.equals("login")) {class="active_nav"}>
	  				<a href="@asapp.frontend.controllers.routes.Login.login">+ Login</a>
			    </li>
			    <li @if(cur_page.equals("register")) {class="active_nav"}>
	  				<a href="@asapp.frontend.controllers.routes.Register.register">+ Registreer</a>
			    </li>
		    }
		    <li @if(cur_page.equals("%")) {class="active_nav"}>
		    	<a href="@asapp.frontend.controllers.routes.Activities.allCategories">+ Bekijk Categoriën</a>
		    </li>
		    <li>
			    <ul class="navlist" id="subitem">
			    	<li @if(cur_page.equals("sportief")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("sportief")">+ Sportief</a>
			    	</li>
			    	<li @if(cur_page.equals("culinair")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("culinair")">+ Culinair</a>
			    	</li>
			    	<li @if(cur_page.equals("theater & bioscoop")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("theater & bioscoop")">+ Theater & Bioscoop</a>
			    	</li>
			    	<li @if(cur_page.equals("automotief")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("automotief")">+ Automotief</a>
			    	</li>
			    	<li @if(cur_page.equals("kunst & cultuur")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("kunst & cultuur")">+ Kunst & cultuur</a>
			    	</li>
			    	<li @if(cur_page.equals("wellness")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("wellness")">+ Wellness</a>
			    	</li>
			    	<li @if(cur_page.equals("teambuilding")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("teambuilding")" >+ Teambuilding</a>
			    	</li>
			    	<li @if(cur_page.equals("gaming")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("gaming")">+ Gaming</a>
			    	</li>
			    	<li @if(cur_page.equals("techniek")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("techniek")">+ Techniek</a>
			    	</li>
			    	<li @if(cur_page.equals("extreem")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("extreem")">+ Extreem</a>
			    	</li>
			    	<li @if(cur_page.equals("apart / alternatief")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("apart / alternatief")">+ Apart / Alternatief</a>
			    	</li>
			    	<li @if(cur_page.equals("overige")) {class="active_nav"}>
			    		<a href="@asapp.frontend.controllers.routes.Activities.category("overige")">+ Overige</a>
			    	</li>
			    </ul>
		    </li>

		    @if(session.get("email")!=null && session.get("role")=="user" ) {
		    	<hr>
			    <li @if(cur_page.equals("boeken")) {class="active_nav"}>
			    	<a href="@asapp.frontend.controllers.routes.BookActivity.bookActivity()" id="activiteit">+ Boek activiteit</a>
			    </li>
			    <li @if(cur_page.equals("Mijn Boekingen")) {class="active_nav"}>
			    	<a href="@asapp.frontend.controllers.routes.EditBooking.editBooking()" id="boekingen">+ Mijn boekingen</a>
			    </li>
		    }
		</ul>
   	</nav>
</div>
