@(participantGroupMember: asapp.models.types.ParticipantGroupMember)
@import java.text.SimpleDateFormat

@main("ASApp - altijd een leuke verrassing!", "opgave") {
<h1>Opgave voltooid</h1>
<p>Bedankt voor uw opgave! U heeft aangegeven dat u @if(participantGroupMember.getParticipantConfirmed() == 0) { niet } mee gaat met onderstaande activiteit.</p>
<table>
		<tr>
			<td colspan="4"><h3>Gegevens Activiteit</h3></td>
		</tr>
		<tr>
			<td>Categorie</td>
			<td>@participantGroupMember.getParticipantGroup().getActivityCategory().getCategory()</td>
		</tr>				
		<tr>
			<td>Datum activiteit</td>
			<td>@(new SimpleDateFormat("dd-MMM-yyyy").format(participantGroupMember.getParticipantGroup().getPreferredTime()))</td>
		</tr>
		<tr>
			<td>Postcode gebied</td>
			<td>@participantGroupMember.getParticipantGroup().getPostcodeArea()</td>
		</tr>
		<tr>
			<td>Afstand</td>
			<td>@participantGroupMember.getParticipantGroup().getMaxDistance() km</td>
		</tr>
		<tr>
			<td>Kosten p/p</td>
			<td>€@participantGroupMember.getParticipantGroup().getTariffParticipant()</td>
		</tr>



</table>
}