@(registerForm: Form[asapp.models.types.Participant])
@import helper._
@import play.i18n._

@main("ASApp - altijd een leuke verrassing!", "register") {


	@if(session.get("email") != null) {
		<article>
			<h2>Graag afmelden!</h2>
				<p>
					Momenteel bent u aangemeld. Om een nieuw account te maken moet u eerst <a href="/logout"><b>afmelden</b>.</a>
				</p>
		</article>
	} else {
		<article>
			<h2>Registreren</h2>
			<p>Om van ASApp gebruik te kunnen maken is registreren noodzakelijk. Hiervoor zijn onderstaande gegevens nodig. Let op: 
			De naamvelden worden gebruikt in de uitnodiging naar de deelnemers. Vul hier dus een naam in waaraan men u kan herkennen.
			</p>
			@if(session.get("oauthProvider") != null) {
			<p>Verifieer of onderstaande gegevens correct zijn</p>
			}
		
			<hr>	
			@if(registerForm.hasErrors) {
				@for(error <- registerForm.errors) {
					<!-- decent error messages here -->
					@error
				}
			}
		
			@form(action = asapp.frontend.controllers.routes.Register.doRegister()) {
				<table>
					<tbody>
						<tr>
							<td>
								@if(registerForm("email").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("email").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								<label for="email">Email adres</label>
							</td>
							<td>
								<input class="input_box" id="email" name="email" type="text" value="@registerForm("email").value">
							</td>
						</tr>
@if(session.get("oauthProvider") == null) {						
						<tr>
							<td>
								@if(registerForm("password").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("password").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								<label for="password">Wachtwoord</label>
							</td>
							<td>
								<input class="input_box" id="password" name="password" type="password" value="@registerForm("password").value">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerForm("passwordValidate").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("passwordValidate").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								Wachtwoord herhaling
							</td>
							<td>
								<input class="input_box" id="passwordValidate" type="password" name="passwordValidate" required="" 
									value="@registerForm("passwordValidate").value">
							</td>
						</tr>
}						
						<tr>
							<td>
								@if(registerForm("firstName").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("firstName").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}	
								<label for="firstName">Voornaam</label>
							</td>
							<td>
								<input class="input_box" id="firstName" name="firstName" type="text" 
									value="@registerForm("firstName").value">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerForm("middleName").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("middleName").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}		
								<label for="middleName">tussenvoegsel</label>
							</td>
							<td>
								<input class="input_box" id="middleName" name="middleName" type="text" 
									value="@registerForm("middleName").value">
							</td>
						</tr>
						<tr>
							<td>
								@if(registerForm("lastName").hasErrors) {
									<div class="errors">
									@for(error <- registerForm("lastName").errors) {
										@Messages.get(error.message)<br>
									}
									</div>
								}
								<label for="lastName">Achternaam</label>
							</td>
							<td>
								<input class="input_box" id="lastName" name="lastName" type="text" 
									value="@registerForm("lastName").value">
							</td>
						</tr>
						<tr>
							<td></td><td align="right"><input class="red_button" id="register" type="submit" value="Registreer"></td>	
						</tr>
					</tbody>
				</table>
			}
		
		<h2>Registreren als aanbieder</h2>
		<p>Om als aanbieder van activiteiten te registreren klik <a href="@asapp.supplierportal.controllers.routes.RegisterSupplier.register()"><b>hier</b>.</a></p>
	</article>
	}	
}

